{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title> Bem-vindo ao Taskmate! </title>
{%  endblock title %}

{% block content %}
<div class = "container">
   
    <div class="row mt-5">

        <div class="col-lg-4">
            <img src="{% static 'images/caderninho.jpg' %}" alt="Notes" class="rounded-lg shadow-sm" width="300" height="173">
        </div>

        <div class="col-lg-4">
            <img src="{% static 'images/caderninho.jpg' %}" alt="Notes" class="rounded-lg shadow-sm" width="300" height="173">
        </div>

        <div class="col-lg-4">
            <img src="{% static 'images/caderninho.jpg' %}" alt="Notes" class="rounded-lg shadow-sm" width="300" height="173">
        </div>
    </div>   

    <div class="row mt-5">

       <div class="col-md-10 offset-md-1"> 
           <center> <p class="h1"> Fácil e rápido de usar, em qualquer hora ou lugar </p> </center>
            <center> <p class="h2"> Planeje melhor seu dia, mantenha sua vida organizada </p> </center>
            <center><p class="h5"> TASKMATE - controle todos seus afazeres num único lugar </p> </center>

            <center> <a href="{% url 'todolist' %}"><button type="button" class="btn btn-primary btn-lg mt-3">Iniciar minha lista!</button></a> </center>
        </div>
    </div>
</div>
{% endblock content %}